{% extends "base.html" %}
{% load static %}
{% block title %} <h5 class="title-secondary"> Listado de órdenes </h5> {% endblock %}
{% block content %}
{% include 'mensajes.html' %}
<div class="mb-3">
    <form method="get" class="card shadow-sm border-0 p-3 mb-3">

        <div class="row g-3 align-items-end">

            <!-- Tipo de búsqueda -->
            <div class="col-md-2">
                <label class="form-label fw-semibold">
                    Buscar por
                </label>
                <select name="tipo" class="form-select">
                    <option value="orden" {% if request.GET.tipo == "orden" %}selected{% endif %}>
                        Orden
                    </option>
                    <option value="oficio" {% if request.GET.tipo == "oficio" %}selected{% endif %}>
                        Oficio
                    </option>
                    <option value="dependencia" {% if request.GET.tipo == "dependencia" %}selected{% endif %}>
                        Dependencia
                    </option>
                </select>
            </div>

            <!-- Texto de búsqueda -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">
                    Valor
                </label>
                <input type="text"
                    name="q"
                    class="form-control"
                    placeholder="Ingresa el valor a buscar"
                    value="{{ request.GET.q }}">
            </div>

            <!-- Estatus -->
            <div class="col-md-2">
                <label class="form-label fw-semibold">
                    Estatus
                </label>
                <select name="estatus" class="form-select">
                    <option value="">Todos</option>
                    <option value="E" {% if request.GET.estatus == 'E' %}selected{% endif %}>En Proceso</option>
                    <option value="A" {% if request.GET.estatus == 'A' %}selected{% endif %}>Asignadas</option>
                    <option value="C" {% if request.GET.estatus == 'C' %}selected{% endif %}>Canceladas</option>
                    <option value="T" {% if request.GET.estatus == 'T' %}selected{% endif %}>Terminadas</option>
                </select>
            </div>

            <!-- Prioridad -->
            <div class="col-md-2">
                <label class="form-label fw-semibold">
                    Prioridad
                </label>
                <select name="prioridad" class="form-select">
                    <option value="">Todas</option>
                    <option value="minima" {% if request.GET.prioridad == 'minima' %}selected{% endif %}>Mínima</option>
                    <option value="normal" {% if request.GET.prioridad == 'normal' %}selected{% endif %}>Normal</option>
                    <option value="programada" {% if request.GET.prioridad == 'programada' %}selected{% endif %}>Programada</option>
                    <option value="urgente" {% if request.GET.prioridad == 'urgente' %}selected{% endif %}>Urgente</option>
                    <option value="inmediata" {% if request.GET.prioridad == 'inmediata' %}selected{% endif %}>Inmediata</option>
                </select>
            </div>

            <!-- Botones -->
            <div class="col-md-2 d-flex gap-2">
                <button type="submit" class="btn btn-primary w-100">
                    <i class="bi bi-funnel"></i>
                </button>
                <a href="?" class="btn btn-outline-secondary w-100">
                    <i class="bi bi-x-circle"></i>
                </a>
            </div>
        </div>
        <div class="mt-3 row">
            <div class="col-md-6">
                <a href="#"
                data-bs-toggle="modal"
                data-bs-target="#modalAtrasadas">
                <i class="bi bi-clock-history"></i>
                Mostrar órdenes atrasadas
                </a>
            </div>
        </div>

    </form>


</div>

<div class="table-container">
    <table class="custom-table">
        <thead>
            <tr>
                <th>Prioridad</th>
                <th>Orden</th>
                <th>Oficio</th>
                <th>Dependencia</th>
                <th>Solicitante</th>
                <th>Fecha Recepcion</th>
                <th>Asignado a</th>
                <th>Estatus</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% if ordenes %}
            {% for o in ordenes %}
            <tr class="
                {% if o.estatus == 'E' %}fila-proceso
                {% elif o.estatus == 'A' %}fila-asignada
                {% elif o.estatus == 'T' %}fila-terminada
                {% elif o.estatus == 'C' %}fila-cancelada
                {% endif %}
            ">
                <td>{{ o.get_prioridad_display }}</td>
                <td>{{ o.orden }}</td>
                {% if o.oficio == "S/N" %}
                    <td></td>
                {% else %}
                    <td>{{ o.oficio }}</td>
                {% endif %}
                <td>{{ o.solicitantes.first.dependencia_solicitante }}</td>
                <td>{{ o.solicitantes.first.nombre_solicitante }}</td>
                <td>{{ o.fecha_captura|date:"d/m/Y H:i" }}</td>
                <td title="{% for ux_o in o.usuarios_orden.all %}{{ ux_o.realiza.get_full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}">
                                {% for ux_o in o.usuarios_orden.all|slice:":2" %}
                                    {{ ux_o.realiza.get_full_name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% if o.usuarios_orden.count > 2 %}
                                    <span class="text-primary"> (+{{ o.usuarios_orden.count|add:"-2" }})</span>
                                {% endif %}
                            </td>
                <td>
                    {% if o.estatus == "T" %}
                        <span class="badge bg-success">Terminada</span>
                    {% elif o.estatus in "E" %}
                        <span class="badge bg-warning text-dark">Pendiente</span>
                    {% elif o.estatus in "A" %}
                        <span class="badge bg-primary">Asignada</span>
                    {% else %}
                        <span class="badge bg-secondary">Cancelada</span>
                    {% endif %}
                </td>
                <td>
                    <div class="" style="gap: 6px; display: flex;">
                        <a href="{% url 'detalle_orden' o.orden %}" aria-label="Ver"><i class="btn btn-sm btn-outline-primary bi bi-eye"></i></a>
                        <a href="{% url 'editar_orden' o.orden%}" aria-label="Editar"><i class="btn btn-sm btn-outline-secondary bi bi-pencil"></i></a>
                                {% if tipo_usuario == "A" and o.get_estatus_display != "Terminada" and o.get_estatus_display != "Cancelada" %}
                                    <button type="button"
                                        class="btn btn-sm btn-outline-warning btn-reasignar-orden"
                                        data-bs-toggle="modal"
                                        data-bs-target="#reasignarOrdenModal"
                                        data-orden-id="{{ o.orden }}"
                                        title="Reasignar orden">
                                        <i class="bi bi-arrow-repeat"></i>
                                    </button>
                                {% endif %}
                        {% if not o.get_estatus_display == "Terminada" %}
                            <button type="button" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ o.orden }}" aria-label="Eliminar" class="btn btn-sm btn-outline-danger bi bi-trash"></button>
                        {% endif %}
                        
                    </div>
                </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="confirmDeleteModal{{ o.orden }}" tabindex="-1" aria-labelledby="confirmDeleteLabel{{ o.orden }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteLabel{{ o.orden }}">Confirmar eliminación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que quieres eliminar la orden #{{ o.orden }}? Esta acción no se puede deshacer.
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-sm btn-danger bi bi-trash" href="{% url 'eliminar_orden' o.orden%}">Si, estoy seguro</a>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="8" class="text-center">No hay órdenes registradas.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="reasignarOrdenModal" tabindex="-1" aria-labelledby="reasignarOrdenModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
        
        <!-- Header -->
        <div class="modal-header">
            <h5 class="modal-title" id="reasignarOrdenModalLabel">Reasignar Orden</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        
        <!-- Body -->
        <div class="modal-body" id="modal-reasignar-contenido">
            <div class="text-center text-muted py-5">
            <div class="spinner-border text-primary mb-3"></div>
            <p>Cargando datos...</p>
            </div>
        </div>
        
        </div>
    </div>
</div>

<div class="modal fade" id="modalAtrasadas" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <form method="get">

        <div class="modal-header">
          <h5 class="modal-title">Filtrar órdenes atrasadas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <!-- conservar filtros actuales -->
          {% for key, value in request.GET.items %}
            {% if key != "atrasadas" and key != "dias" %}
              <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
          {% endfor %}

          <!-- activar filtro -->
          <input type="hidden" name="atrasadas" value="1">

          <!-- días atrasadas -->
          <div class="mb-3">
            <label class="form-label">Días de atraso</label>
            <input type="text" name="dias" class="form-control" placeholder="Ejemplo: 5" value="{{ request.GET.dias }}">
          </div>

          <!-- estatus extra -->
          <div class="mb-3">
            <label class="form-label">Tipo de usuario</label>
            <select name="tipo_usuario" class="form-select">
              <option value="">Todos</option>
              <option value="T">Técnicos</option>
              <option value="P">Programadores</option>
            </select>
          </div>

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">
            Aplicar filtros
          </button>
        </div>

      </form>

    </div>
  </div>
</div>


<script defer src="{% static 'js/lista_ordenes.js' %}"></script>


{% with request.GET.copy as params %}
{% if params.page %}{% endif %}
{% with params.urlencode as query %}

{% if is_paginated %}
<nav>
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link"
               href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">«</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">«</span>
        </li>
        {% endif %}

        {% for num in paginator.page_range %}
            {% if num == 1 or num == paginator.num_pages %}
                <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                    <a class="page-link"
                       href="?{% if query %}{{ query }}&{% endif %}page={{ num }}">
                        {{ num }}
                    </a>
                </li>

            {% elif num >= page_obj.number|add:"-2" and num <= page_obj.number|add:"2" %}
                <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                    <a class="page-link"
                       href="?{% if query %}{{ query }}&{% endif %}page={{ num }}">
                        {{ num }}
                    </a>
                </li>

            {% elif num == page_obj.number|add:"-3" or num == page_obj.number|add:"3" %}
                <li class="page-item disabled">
                    <span class="page-link">…</span>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link"
               href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.next_page_number }}">»</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">»</span>
        </li>
        {% endif %}

    </ul>
</nav>
{% endif %}

{% endwith %}
{% endwith %}

{% endblock %}