{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-5 mx-auto">

        <div class="card shadow">
            <div class="card-body">

                <h4 class="text-center mb-4">
                    Crear nueva contraseña
                </h4>

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Nueva contraseña</label>
                        <input type="password" name="new_password" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Confirmar contraseña</label>
                        <input type="password" name="confirm_password" class="form-control" required>
                    </div>

                    <div class="d-grid">
                        <button class="btn btn-primary">
                            Guardar contraseña
                        </button>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>
{% endblock %}
